<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>Hello World!</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <style>
    .white-text li a {
      color: white;
    }

    section {
      margin-top: 10px;
    }

    section .col-10 {
      margin-top: 10px;
      background-color: #f8f9fa;
    }

  </style>

</head>
<body>
  <header>
<!--      Header-->
      <nav class="navbar navbar-expand-lg" style="background-color: #343a40;">
          <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent" th:each="user : ${authenticationUser}">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 white-text">
                      <li class="nav-item">
                          <a class="nav-link" style="font-weight: bold;" th:text="${user.getEmail()}">
                              *UserEmail*
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link">
                              with roles:
                          </a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#strings.listJoin(user.getUserRoles(), ', ')}">
                              *ListRoles*
                          </a>
                      </li>
                  </ul>
                  <form class="d-flex" role="search">
                      <a class="link-secondary" href="/logout" role="button">Logout</a>
                  </form>
              </div>
          </div>
      </nav>
  </header>
  <section>
    <div class="row">
      <div class="col-2">
        <div class="container-xxl">
<!--            Menu-->
            <ul class="nav flex-column nav-pills" th:each="user : ${authenticationUser}">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:classappend="${user.getUserRoles().toString().contains('ADMIN')} ? '' : 'd-none'" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
      </div>
<!--        Main Content-->
      <div class="col-10">
        <h1>Admin panel</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users table</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">New User</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <h2>All users</h2>
            <table class="table table-striped">
              <thead>
                <tr style="font-weight: bold;">
                  <td>ID</td>
                  <td>First Name</td>
                  <td>Last Name</td>
                  <td>Email</td>
                  <td>Role</td>
                  <td>Edit</td>
                  <td>Delete</td>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr>
                  <td>ID</td>
                  <td>First Name</td>
                  <td>Last Name</td>
                  <td>Email</td>
                  <td>Role</td>
                </tr>
              </tbody>
                <!--TODO сделать ID плавающим или ещё чего -->
                <div class="modal fade" id="editUserFormDiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" th:id="${user.getId()}+'-Label'">Edit user</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div id="editUserForm" class="modal-body">
                                <form th:method="POST" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" >
                                    <label for="id">ID</label>
                                    <fieldset disabled>
                                        <input type="text" class="form-control" id="id" th:value="${user.getId()}" />
                                    </fieldset>
                                    <br/>
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" value="*{firstName}">
                                    <br/>
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" value="*{lastName}" name="lastName" id="lastName"/>
                                    <br/>
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" value="*{email}" name="email" id="email"/>
                                    <br/>
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" value="*{username}" name="username" id="username"/>
                                    <br/>
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" value="*{password}" name="password" id="password"/>
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-form-label" for="roleAdd2">Role</label>
                                        <select class="custom-select form-control" multiple name="roles" th:field="*{userRoles}" id="roleAdd2">
                                            <option th:each="oneRole: ${roles}"
                                                    th:selected="${oneRole.roleName == 'USER'}"
                                                    th:text="${oneRole.roleName}"
                                                    th:value="${oneRole.roleId}"
                                            >all roles
                                            </option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </table>

              <div id="app">{{ message }}
              </div>

              <p id="load" style="cursor:pointer">Загрузить данные</p><br />
<!--              <button type="submit" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#22" data-bs-whatever="@mdo" id="edit_Button" >Edit</button><br />-->
<!--              <input type="button" data-bs-target="#editUserFormDiv" onclick="eventUser()" id="edit_Button" value="Event" />-->
              <button type="submit" class="22" data-bs-toggle="modal" data-bs-target="#editUserFormDiv" data-bs-whatever="@mdo" onclick="eventUser()" id="edit_Button" >Edit</button>
              <input type="button" onclick="eventUser()" id="elem" value="Event" />
              <br />
              <div id="information"></div>

              <form>
                  <input type="text" id="user_id" placeholder="ID" /><br />
                  <input type="text" id="user_firstName" placeholder="Name" /><br />
                  <input type="text" id="user_lastName" placeholder="Name" /><br />
                  <input type="text" id="user_userEmail" placeholder="Name" /><br />
                  <input type="button" id="save_User" value="Save" /><br />
                  <input type="button" id="update_User" value="Update" /><br />
              </form>

                  <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#'+${user.getId()}" data-bs-whatever="@mdo">Edit</button>


          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <form>
                  <br/>
                  <div class="mb-3">
                      <label for="exampleInputFirstName" class="form-label">First name</label>
                      <input type="text" class="form-control" id="exampleInputFirstName" >
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputLastName" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="exampleInputLastName">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="form-group">

                      <label class="col-form-label" for="roleAdd">Role</label>

                      <select class="custom-select form-control" multiple name="roles"  id="roleAdd">

                          <option th:each="oneRole: ${roles}"
                                  th:selected="${oneRole.roleName == 'USER'}"
                                  th:text="${oneRole.roleName}"
                                  th:value="${oneRole.roleId}"
                          >all roles
                          </option>

                      </select>

                  </div>
                  <br/>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary" id="add_new_User">Add new user</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!--<script>-->
<!--    alert('test')-->
<!--</script>-->
  <script>

      function send_user() {

          $.ajax({
              url: '/users',
              dataType: 'json',
              type: 'PUT',
              cache: false,
              contentType: 'json',
              data: JSON.stringify({
                  id: $("#user_id").val(),
                  firstName: $("#user_firstName").val(),
                  lastName: $("#user_lastName").val(),
                  email: $("#user_userEmail").val(),
                  password: $(null),
                  username: $(null),
                  enabled: $(true),
                  credentialsNonExpired: $(true),
                  accountNonLocked: $(true),
                  userRoles: $(true),
                  accountNonExpired: $(true)
              }),
              success: function () {
              }
          })
      }
  </script>
</body>
</html>