<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Spring Security Example</title>
    <script type="text/javascript">

        function showUsers() {
            $.get('/users', function (data) {
                console.log()

                let table = "<table border='1px'><tr><td>ID</td><td>name</td><td>last</td></tr>";

                for (i = 0; i < data.length; i++) {
                    table = table + "<tr><td>" + data[i].id + "</td><td>" + data[i].firstName + "</td><td>" + data[i].lastName + "</td></tr>"
                }

                table = table + "</table>";

                $("#test_user").html(table)
            });
        }

        $(document).ready(function () {
            showUsers()

        });

        function sendUser() {

            $.ajax({
                url: '/users',
                dataType: 'json',
                type: 'POST',
                cache: false,
                contentType: 'application/json',
                data: JSON.stringify({
                    firstName: $("#user_firstName").val(),
                    lastName: $("#user_lastName").val(),
                    email: $("#user_userEmail").val()
                }),
                success: function () {
                    console.log("New_User (function sendUser())")
                    showUsers()
                }
            })
        }

        function updateUser() {

            $.ajax({
                url: '/users',
                dataType: 'json',
                type: 'PUT',
                cache: false,
                contentType: 'application/json',
                data: JSON.stringify({
                    id: $("#user_id").val(),
                    firstName: $("#user_firstName").val(),
                    lastName: $("#user_lastName").val(),
                    email: $("#user_userEmail").val()
                }),
                success: function () {
                    console.log("Update_User (function updateUser())")
                    showUsers()
                }
            })
        }
/*
        function deleteUser(id) {

            $.delete('/users/{id}', function (data) {

            })
        }*/

        function deleteUser() {
            let id = $("#user_id").val()

            $.ajax({
                url: '/users/' + id,
                dataType: 'json',
                type: 'DELETE',
                cache: false,
                contentType: 'application/json',
                success: function () {
                    console.log("Delete_User (function deleteUser())")
                    showUsers()
                }

            }).fail(function (url) {
                console.log(url);
                console.log("Delete_Fail_User (function deleteUser())")
                showUsers()
            })
        }
    </script>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<br/><br/>
<a th:href="@{/logout}">Sign Out</a>

<div id="test_user"></div>

<form>
    <input type="text" id="user_id" placeholder="ID" /><br />
    <input type="text" id="user_firstName" placeholder="Name" /><br />
    <input type="text" id="user_lastName" placeholder="LastName" /><br />
    <input type="text" id="user_userEmail" placeholder="Name" /><br />
    <input type="button" onclick="sendUser()" value="Save" />
    <input type="button" onclick="updateUser()" value="Update" />
    <input type="button" onclick="deleteUser()" value="Delete" /><br />
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>