<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Hello World!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="js/main.js"></script>
    <div th:replace="parts/menu :: menu-css"/>
  <style>
    .white-text li a {
      color: white;
    }

    section {
      margin-top: 10px;
    }

    section .col-10 {
      margin-top: 10px;
      background-color: #f8f9fa;
    }

  </style>
</head>
<body>
  <header>
    <div th:replace="parts/header :: header"/>
  </header>
  <section>
    <div class="row">
      <div class="col-2">
        <div class="container-xxl">
          <div th:replace="parts/menu :: menu"/>
        </div>
      </div>
      <div class="col-10">
        <h1>Admin panel</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users table</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">New User</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <h2>All users</h2>
            <table class="table table-striped">
              <thead>
                <tr style="font-weight: bold;">
                  <td>ID</td>
                  <td>First Name</td>
                  <td>Last Name</td>
                  <td>Email</td>
                  <td>Role</td>
                  <td>Edit</td>
                  <td>Delete</td>
                  <td>Edit 2.0</td>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                  <td th:text="${user.getId()}">ID</td>
                  <td th:text="${user.getFirstName()}">First Name</td>
                  <td th:text="${user.getLastName()}">Last Name</td>
                  <td th:text="${user.getEmail()}">Email</td>
                  <td th:text="${user.getUserRoles()}">Role</td>
                  <td><a class="btn btn-info" th:href="@{/admin/{id}/edit(id=${user.getId()})}" role="button">Edit</a></td>
                  <td><a class="btn btn-danger" th:href="@{/admin/delete/{id}(id=${user.getId()})}" role="button">Delete</a></td>
                    <td><a href="" class="btn btn-primary eBtn">Edit 2.0</a></td>
                </tr>
              </tbody>
            </table>

          <div class="myForm">
              <form th:method="POST" th:action="@{/{id}(id=${user.getId()})}"> <!--th:action="@{/admin/new}"-->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                                  <div class="mb-3">
                                      <label for="id" class="col-form-label">ID:</label>
                                      <input type="text" class="form-control" id="id" name="id"/>
                                  </div>
                                  <div class="mb-3">
                                      <label for="name" class="col-form-label">Name:</label>
                                      <input type="text" class="form-control" id="name" name="name"/>
                                  </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <input type="submit" class="btn btn-primary" value="save"/>
                          </div>
                      </div>
                  </div>
              </div>
              </form>
          </div>

          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <form th:method="POST" th:action="@{/}" th:object="${user}">
                  <div class="mb-3">
                      <label for="exampleInputFirstName" class="form-label">First name</label>
                      <input type="text" class="form-control "th:field="*{firstName}" id="exampleInputFirstName" >
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputLastName" class="form-label">Last Name</label>
                      <input type="text" class="form-control" th:field="*{lastName}" id="exampleInputLastName">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" th:field="*{email}" id="exampleInputEmail1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassword1">
                  </div>
                  <div class="form-group">

                      <label class="col-form-label" for="roleAdd">Role</label>

                      <select class="custom-select form-control" multiple name="roles" th:field="*{userRoles}" id="roleAdd">

                          <option th:each="oneRole: ${roles}"
                                  th:selected="${oneRole.roleName == 'USER'}"
                                  th:text="${oneRole.roleName}"
                                  th:value="${oneRole.roleId}"
                          >all roles
                          </option>

                      </select>

                  </div>
                  <button type="submit" class="btn btn-primary">Add new user</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
  </div>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
  </div>
  Logged user: <span sec:authentication="name">Bob</span>
  Logged user: <span sec:authentication="user.getFirstName()">Bob</span>
  Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>


</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>